.CategoryContainer-container {
  margin: 10px;
}
.thirds {
  width: calc(100% / 3);
  margin-bottom: 0.5em;
  vertical-align: middle;
  display: inline-block;
}
.halves {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.5em;
}
.wholes {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 0.5em;
}
.wholes:nth-child(odd) {
  background: rgba(252, 236, 247, 0.5);
}
.wholes:nth-child(even) {
  background: rgba(221, 246, 255, 0.5);
}
