.Countdowner-holder {
  /* margin-top: 3%; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
}
.avatar-holder {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.avatar-holder img.avatar-circles {
  border-radius: 50%;
  border: 2px solid white;
  width: 33vw;
  height: 33vw;
  object-fit: cover;
}
#heart-symbol {
  max-width: 18%;
  color: white;
}
.countdown-content {
  position: relative;
  z-index: 3;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: white;
}
#countdown-number {
  font-size: 3em;
  font-family: "Stylish", sans-serif;
  text-shadow: 2px 2px 2px black;
}
.countdown-content p {
  text-shadow: 2px 2px 2px black;
}
#bgVid {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.2) translateY(8%);

  object-fit: cover;
  object-position: top right;
}
.Home-content .Scoreboard-holder {
  position: absolute;
  z-index: 4;
  width: 100%;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  bottom: 0;
}
