.Coupons-holder {
  display: flex;
  flex-direction: row;
}
.Coupons-container {
  position: relative;
}
.Scoreboard-holder.mini-size {
  position: absolute;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 15px 4px grey;
  border: none;
}
