.Coupons-holder {
}
.Coupon-holder-half {
  flex: 1;
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* overflow-y: auto; */

  /* height: 60vh; */
  /* padding-top: 10vh; */
}
.coupon-item-wrapper {
  width: 95%;
  margin: 10px 0;
  box-shadow: 1px 1px 10px 2px lightgrey;
}
