.MissionBox-container {
  position: relative;
  width: 95%;
  height: 20vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  /* background-color: #fff; */
  border-radius: 5px;
}
.MissionBox-content {
  width: 80%;
  padding: 20px;
}
.MissionBox-img-holder img {
  border-radius: 50%;
  max-width: 70%;
}
.MissionBox-img-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.MissionBox-price-box {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid black;
  padding: 0px 5px;
  margin-top: 5px;
}
