.MissionContainer-container {
  margin: 10px;
}
.thirds {
  width: calc(100% / 3);
  margin-bottom: 0.5em;
  vertical-align: middle;
  display: inline-block;
}
.halves {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0.5em;
}
.wholes {
  width: 100%;
  vertical-align: middle;
  margin-bottom: 0.5em;
}
.wholes.vaxxbR3FjjdEvaR85oiZArQGqOo1,
.wholes.ch {
  background: rgba(252, 236, 247, 0.5);
}

.wholes.j1GsarCF00RX83QzjBvMkAInjas1,
.wholes.nh {
  background: rgba(221, 246, 255, 0.5);
}
