.Scoreboard-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background: white;
  border: 10px black;
  border-style: double;
}
.score-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-holder .score {
  /* margin: 0 2%; */
  font-size: 1.2em;
}
.avatar-gif {
  width: 100px;
}
.mini-size {
  padding-top: 0;
  padding-bottom: 0;
}
.mini-size .avatar-gif {
  width: 50px;
}
#separator {
  font-size: 3em;
  font-family: sans-serif;
}
