.Scoreboard-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background: white;
  box-shadow: 1px -1px 9px 0px grey;
}
.score-holder {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-holder .score {
  /* margin: 0 2%; */
  font-size: 1.2em;
}
.avatar-gif {
  width: 100px;
}
#separator {
  font-size: 3em;
}
